.mineProximal1{
    all: unset;
    color: transparent;
    background-image: url("src/1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mineProximal2{
    all: unset;
    color: transparent;
    background-image: url("src/2.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mineProximal3{
    all: unset;
    color: transparent;
    background-image: url("src/3.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mineProximal4{
    all: unset;
    color: transparent;
    background-image: url("src/4.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mineProximal5{
    all: unset;
    color: transparent;
    background-image: url("src/5.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mineProximal6{
    all: unset;
    color: transparent;
    background-image: url("src/6.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mineProximal7{
    all: unset;
    color: transparent;
    background-image: url("src/7.png");
    background-repeat: no-repeat;
    background-position: center;
}
.mineProximal8{
    all: unset;
    color: transparent;
    background-image: url("src/8.png");
    background-repeat: no-repeat;
    background-position: center;
}
.ButtonBomb {
    all: unset;
    color: transparent;
    background-image: url("src/bomb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ButtonInvisible {
    all: unset;
}