
.ButtonBomb {
    all: unset;
    color: transparent;
    background-image: url("src/bomb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ButtonInvisible {
    all: unset;
}
