
.ButtonBomb {
    all: unset;
    color: transparent;
    background-image: url("src/bomb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ButtonInvisible {
    all: unset;
}
.mineProxmial1{

}
.mineProxmial2{

}
.mineProxmial3{

}
.mineProxmial4{

}
.mineProxmial5{

}
.mineProxmial6{

}
.mineProxmial7{

}
.mineProxmial8{

}